
h1 {
    text-align: center;
}

.resetButton {
    display: flex;
    text-align: center;
    justify-content: center;

}
#resetB {
    width: 75px; height: 25px;
    background-color: #228C40;
}


.ttt {
    width: 50px; height: 50px;
    font-size: large;
    background-color: #65A577;
}

p {
    text-align: center;
}

.table1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

body {
    background-color: #696969;
}
nav {
    text-align: center;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 25%;
    right:25%;
}
